.result{
  height: 60px;
  background-color: #000;
  width: 250px;
  
}
.result p{
  font-size: 40px;
  margin: 5px;
}
.App{
  max-width: 350px;
  margin: auto;

  color: #fff;
}
.calculator {
  background-color: #313131;
  height: 100vh;
}
.button{
  display: block;
  background: #000;
  width: 250px;
}

button{
  /* width: 25%;
  height: 60px;
  font-size: 30px; */
  background-color: #505050;
    border-radius:50%;
  color:#fff;
  font-size: 25px;
  border: none; 
  margin: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  user-select: none;
  outline: none !important;
}
button:nth-child(1), button:nth-child(2), button:nth-child(3) {
  background-color: #fff;
  color: #505050;
} 
button:nth-child(4), button:nth-child(9), button:nth-child(14), button:nth-child(19), button:nth-child(23), button:nth-child(24)   {
  background-color: #FF9500;
  color:#fff;

}